@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Kaisei';
    src: url('../fonts/KaiseiDecol-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Kurenaido';
    src: url('../fonts/ZenKurenaido-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Julius';
    src: url('../fonts/JuliusSansOne-Regular.ttf') format('truetype');
}

@media screen and (max-width: 860px) {
    .about {
         flex-direction: column;
         & img {
             min-width: 80vw;
         }
    }

}

@media screen and (max-width: 700px) { 
    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav button {
        font-size: .8rem;
    }
}



* {
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui;
}

:root {
    ---beige: #f0ede5;
    ---brown: #c0baaa;
    ---box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    ---text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    ---black-overlay: linear-gradient(#0000003d, #0000003d);
}

body {
    margin: auto;
    background-color: var(---beige);
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    padding: 20px 0px;
}

#nav-btns {
    display: flex;
    width: fit-content;

    & button {
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        letter-spacing: .1rem; 
        padding: .8rem;
    }

    & button:hover {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
}

#home-btn,#menu-btn {
    margin-right: 30px;
}

#kiyomi-logo {
    max-width: 15vw;
    box-shadow: none;
    min-width: 130px;
}

main {
    width: 100vw;
    margin: auto;
    padding: 0 50px;
    font-size: 1rem;
}

.banner {
    box-shadow: var(---box-shadow);
    color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jap {
    font-family: 'Kurenaido', system-ui;
}

img {
    border-radius: 10px;
    box-shadow: var(---box-shadow);
}

footer {
    background-color: var(---brown);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);

    & a {
        color:  rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }

    & a:hover {
        color: black;
    }
}

.page-h1 {
    font-family:'Julius', system-ui;
    font-weight: lighter;
    margin: 0;
    font-size: 2.5rem;
    text-shadow: var(---text-shadow);
}

.page-h2 {
    font-weight: lighter;
    margin: 0;
    text-shadow: var(---text-shadow);
}

.page-descr {
    text-align: center;
    margin-top: 30px;
}

.page-divider {
    border-top: 1px solid black;
    width: 50vw;
    margin: 30px auto;
}