.menu {
    height: 25vh;
    background-image: var(---black-overlay), url('../img/menu-banner.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    & div {
        text-align: center;
    }
}

li {
    font-family: 'Julius', system-ui;
    font-weight: bold;
    list-style: none;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

h3 {
    font-family: 'Kaisei', system-ui;
    font-size: 2rem;
    font-weight: lighter;
    margin: 0;
}

.custom-opt {
    background-color: rgba(0, 0, 0, 0.058);
    border-radius: 10px;
    padding: 20px;
    font-size: .3rem;
    
    & h4 {
        font-size: 1.2rem;
        font-family: 'Julius', system-ui;
        margin: 0;
    }

    & li {
        line-height: 1.5rem;
        margin: 10px;
        font-weight: lighter;
    }
}

ul { 
    margin: 20px 0px;
    padding: 0;
}

.photo-gallery {
    
    width: 70vw;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    & img {
        max-width: 400px;
    }
}